@media (max-width: 430px){



    .section-1{
        height: 100vh;
    }
    .content{
        padding: 4% 4%;
        position: absolute;
        bottom: 5%;
        left: 5%;
    }
    #heading1{
        font-size: 30px;
        line-height: 1.2;
    }

    .slider-inner1{
        margin-top: 5vh;
    }

    .slider-inner1,
    .slider-inner2,
    .slider-inner3{
        height: 20%;
    }
    #heading2{
        font-size: 14px;
        margin-top: 3%;

    }
    .section-2{
        width: 100%;
        height: 80vh;
        padding: 5vh 0;
    }
    .sec2content{
        height: auto;
    }
    .sec2content h1 br{
        display: block;
    }
    .section-2 h1{
        font-size: 30px;
    }
    .section-2 p{
        font-size: 14px;
    }
    .sec2img{
        width: 90%;
        height: auto;
    }
    .sec2img button{
        width: 50%;
        font-size: 12px;
        padding: 8px 0;
        margin-top: 3%;
        color: rgb(110, 140, 77);
    }
    .sec2img button:active{
    background: rgb(110, 140, 77);
    color: #ffffff;
    transition: .25s ease;
}
    .section-3{
        width: 90%;
        height: auto;
    }
    .news-wrapper{
        flex-wrap: wrap;
    }
    .news-content{
        width: 47%;
        height: 230px;
        margin-top: 3%;
    }
    .sentence{
        margin-top: 3%;

    }
    .news-button{
        width: 30%;
        margin: 30px auto;
    }

    .section-4{
        width: 80%;
        height: auto;
    }
    .access-content{
        flex-direction: column;

    }
    .access-info{
        text-align: center;
    }
    .map{
        display: block;
        margin: 1rem auto;
        width: 100%;

        height: auto;
    }




/* hamburger menu */
    .humburger{
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        right: 1rem;
        top: 1rem;
        z-index: 3000;
        padding: .5rem;
        border: none;
        color: #636363;
        border-radius: 5px; /* 丸ではなく四角くする場合（お好みで50%に） */
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        transition: .4s;
    }
    .nav-links{
        position: fixed;
        height: 100vh;
        width: 100%;
        background: #a0a0a0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: transform .5s ease-in-out;
        z-index: 2000;
    }
    .nav-links li{
        display: block;
        width: 100%;
        text-align: center;
        margin: 2rem 0;
    }
    .nav-active{
        transform: translateX(0);
    }
    .nav-links li a{
        font-size: 20px;
        font-weight: bold;
        margin: 0.5em;
    }
}