@media (max-width: 430px){
    /* ナビゲーション */
/* hamburger menu */
    .humburger{
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        right: 1rem;
        top: 1rem;
        z-index: 3000;
        padding: .5rem;
        border: none;
        color: #636363;
        border-radius: 5px; /* 丸ではなく四角くする場合（お好みで50%に） */
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        transition: .4s;
    }
    .nav-links{
        position: fixed;
        height: 100vh;
        width: 100%;
        background: #a0a0a0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: transform .5s ease-in-out;
        z-index: 2000;
    }
    .nav-links li{
        display: block;
        width: 100%;
        text-align: center;
        margin: 2rem 0;
    }
    .nav-active{
        transform: translateX(0);
    }
    .nav-links li a{
        font-size: 20px;
        font-weight: bold;
        margin: 0.5em;
    }
    .section-1{
        height: 20vh;
        width: 100%;
    }
    .section-1 div{
        position: absolute;
        top: 15%;
        left: 10%;
        font-family: 'Noto Sans JP', sans-serif;
    }



    .section-2{
        width: 90%;
        height: auto;
        margin: 40px auto;
    }
    .news-wrapper{
        flex-direction: column;

    }
    .news-content{
        width: 80%;
        height: 40vh;
        margin: 2px auto 20px auto;
    }
    .sentence{
        font-size: 14px;
        font-weight: 550;
    }
}