@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monda:wght@400..700&family=Noto+Sans+JP:wght@100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.fadein{
    opacity: 0;

}
main{
    color: #212121;
    font-size: 12px;
}
nav{
    width: 100%;
    height: 100px;
    color: #212121;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1000;
}
nav p{
    font-family: 'Inria Sans', serif;
    font-size: 24px;
    font-weight: 800;
    flex: 3;
    margin-left: 4%;
}
.humburger{
    display: none;
    font-size: 2rem;
    color: #212121;
    z-index: 2000;
}
.nav-links{
    list-style: none;
    flex: 7;
    text-align: right;
    margin-right: 2%;
}
.nav-links li{
    display: inline;    
}

.nav-links li a{
    font-family: 'BIZ UDPGothic', serif;
    font-size: 14px;
    text-decoration: none;
    color: #212121;
    margin: 1em;
}
.nav-links li a:hover{
    color: #737373;
}
.nav-links li a:active{
    color: #a1a1a1;
}
.section-1{
    width: 100%;
    height: 60vh;
}
.section-1 div{
    position: absolute;
    top: 200px;
    left: 100px;
    font-size: 20px;
}

.section-2{
    width: 80%;
    height: 500px;
    margin: 50px auto 160px auto;
    text-align: center;
    justify-content: space-around; 
}

.news-wrapper{
    display: flex;
    margin: 50px auto;
    text-align: center;
    justify-content: space-around; 
}
.news-content{
    width: 25%;
    height: 50vh;
    background: #eee;
}
.news-content a{
    text-decoration: none;
}

.news-content:hover{
    cursor: pointer;
    opacity: .6;
    transition: opacity .3s ease;
}
.news-content img{
    width: 100%;
    height: 70%;
    object-fit: cover;
}
.date{
    font-family: 'Monda', serif;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    width: 80%;
    margin: 3% auto;
    color: #b5b5b5;
}
.sentence{
    font-family: 'Noto Sans JP', serif;
    margin-top: 5%;
    color: #212121;
}

footer{
    width: 100%;
    height: 8vh;
    background: rgb(110, 140, 77);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 11px;
}
