@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monda:wght@400..700&family=Noto+Sans+JP:wght@100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    color: #212121;
    font-size: 12px;
}
nav{
    width: 100%;
    height: 100px;
    color: #212121;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1000;
}
nav p{
    font-family: 'Inria Sans', serif;
    font-size: 24px;
    font-weight: 800;
    flex: 3;
    margin-left: 4%;
}
.humburger{
    display: none;
    font-size: 2rem;
    color: #212121;
    z-index: 2000;
}
.nav-links{
    list-style: none;
    flex: 7;
    text-align: right;
    margin-right: 2%;
}
.nav-links li{
    display: inline;    
}

.nav-links li a{
    font-family: 'BIZ UDPGothic', serif;
    font-size: 14px;
    text-decoration: none;
    color: #212121;
    margin: 1em;
}
.nav-links li a:hover{
    color: #737373;
}
.nav-links li a:active{
    color: #a1a1a1;
}
.section-1{
    width: 100%;
    height: 60vh;
}
.section-1 div{
    position: absolute;
    top: 200px;
    left: 100px;
    font-size: 20px;
}

.section-2{
    width: 60%;
    height: auto;
    margin: 50px auto 160px auto;
    text-align: center;
    justify-content: space-around; 
    background: #f1f1f1;
    padding: 40px;
    border-radius: 10px;
}

.date{
    font-family: 'Monda', serif;
    font-size: 20px;
    font-weight: 700;
    color: #737373;
    margin-bottom: 20px;
    text-align: left;
}
.title{
    font-family: 'Noto Sans JP', serif;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: left;
}
.content{
    font-family: 'Noto Sans JP', serif;
    font-size: 15px;
    line-height: 1.8;
    text-align: left;
}
.section-2 img{
    width: 80%;
    height: auto;
    margin-bottom: 20px;
    object-fit: cover;
}
.news-button{
    font-family: 'Carrois Gothic', sans-serif;  
    border-bottom: 1px solid; 
    font-weight: 600;
    width: 10%;
    margin: 50px auto;
    padding-bottom: 0.5%;
    text-align: center;
    justify-content: space-around; 

}

.news-button:hover, .news-button a:hover{
    color: #47763c;
    cursor: pointer;
}
.news-button a{
    text-decoration: none;
    color: #212121;
}
footer{
    width: 100%;
    height: 8vh;
    background: rgb(110, 140, 77);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 11px;
}
@media (max-width: 430px){
   /* hamburger menu */
    .humburger{
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        right: 1rem;
        top: 1rem;
        z-index: 3000;
        padding: .5rem;
        border: none;
        color: #636363;
        border-radius: 5px; /* 丸ではなく四角くする場合（お好みで50%に） */
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        transition: .4s;
    }
    .nav-links{
        position: fixed;
        height: 100vh;
        width: 100%;
        background: #a0a0a0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: transform .5s ease-in-out;
        z-index: 2000;
    }
    .nav-links li{
        display: block;
        width: 100%;
        text-align: center;
        margin: 2rem 0;
    }
    .nav-active{
        transform: translateX(0);
    }
    .nav-links li a{
        font-size: 20px;
        font-weight: bold;
        margin: 0.5em;
    }
    .section-1{
        height: 20vh;
        width: 100%;
    }
    .section-1 div{
        position: absolute;
        top: 15%;
        left: 10%;
        font-family: 'Noto Sans JP', sans-serif;
    }
    .section-2{
        width: 90%;
        height: auto;
        margin: 100px auto 100px auto;
        padding: 20px;
    }
    .date{
        font-size: 16px;
    }
    .title{
        font-size: 18px;
    }
    .news-button{
        width: 25%;
    }
}