@media (max-width: 430px){
    /* ナビゲーション */

/* hamburger menu */
    .humburger{
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        right: 1rem;
        top: 1rem;
        z-index: 3000;
        padding: .5rem;
        border: none;
        color: #636363;
        border-radius: 5px; /* 丸ではなく四角くする場合（お好みで50%に） */
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        transition: .4s;
    }
    .nav-links{
        position: fixed;
        height: 100vh;
        width: 100%;
        background: #a0a0a0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: transform .5s ease-in-out;
        z-index: 2000;
    }
    .nav-links li{
        display: block;
        width: 100%;
        text-align: center;
        margin: 2rem 0;
    }
    .nav-active{
        transform: translateX(0);
    }
    .nav-links li a{
        font-size: 20px;
        font-weight: bold;
        margin: 0.5em;
    }
    .section-1{
        height: 20vh;
        width: 100%;
    }
    .section-1 div{
        position: absolute;
        top: 15%;
        left: 10%;
        font-family: 'Noto Sans JP', sans-serif;
    }

    .staff, .member{
        width: 90%;
        height: auto;
        margin: 100px auto;
    }
    .staff-wrapper{
        flex-direction: column;
        height: auto;
    }
    .staff-img{
        width: 60%;
        height: auto;
        margin: 0 auto;
    }
    .staff-contact{
        display: none;
    }
    .staff-name, .staff-position{
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .staff-content{
        display: none;
    }
    .staff-content2{
        display: block;
        margin-top: 20px;
    }
    .staff-content2 p{
    margin-top: 3%;
    line-height: 20px;
    }
    .staff-link{
        justify-content: center;
    }
    .staff-link button{
        margin-top: 10%;
        color: #212121;
    }
    .staff-link button:active{
    background: #333;
    color: #ffffff;
    transition: .25s ease;
}

}