@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monda:wght@400..700&family=Noto+Sans+JP:wght@100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    color: #212121;
    font-size: 12px;
}
nav{
    width: 100%;
    height: 100px;
    color: #212121;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1000;
}
nav p{
    font-family: 'Inria Sans', serif;
    font-size: 24px;
    font-weight: 800;
    flex: 3;
    margin-left: 4%;
}
.humburger{
    display: none;
    font-size: 2rem;
    color: #212121;
    z-index: 2000;
}
.nav-links{
    list-style: none;
    flex: 7;
    text-align: right;
    margin-right: 2%;
}
.nav-links li{
    display: inline;    
}

.nav-links li a{
    font-family: 'BIZ UDPGothic', serif;
    font-size: 14px;
    text-decoration: none;
    color: #212121;
    margin: 1em;
}
.nav-links li a:hover{
    color: #737373;
}
.nav-links li a:active{
    color: #a1a1a1;
}

.section-1{
    width: 100%;
    height: 60vh;
}
.section-1 div{
    position: absolute;
    top: 200px;
    left: 100px;
    font-size: 20px;
}

/* .gaiyou, .gyouseki{
    width: 70%;
    height: 500px;
    margin: 100px auto ;
    font-family: 'Inria Sans', sans-serif;
    font-size: 13px;
    text-align: center;
} */

.gaiyou, .gyouseki{
        display: none;
}
    .cm{
        height: 80vh;
        margin: 120px;

    }


footer{
    width: 100%;
    height: 8vh;
    background: rgb(110, 140, 77);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 11px;
}
